{% extends 'base.html.twig' %}

{% block title %}Modifier un événement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Modifier l'événement</h1>

        {{ form(form) }}
    </div>
{% endblock %}
