{% extends 'base.html.twig' %}

{% block title %}Créer un événement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Créer un événement</h1>

        {{ form(form) }}
    </div>
{% endblock %}
